/* Imports */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap'); /* font-family: 'Quicksand', sans-serif; */
@import url('util.css');

/* Gerais */
body {
  background-image: url(../addons/background-homepage.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  
}

@media (max-width: 991px) {
  body {
    background-image: none;
    background-color: var(--dark-color1) !important;
    background-attachment: scroll;
  }
}

header {
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
}

/* Página Principal */
.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
  overflow: hidden;
  height: 100vh; /* Ajusta a altura conforme necessário */
}

/*Edição da imagem e video*/
.container {
  text-align: center;
  flex-basis: 50%;
  animation: fadeIn 1s ease-in;
}

.video-container {
  width: 400px;
  height: 400px;
  margin-top: 50px;
  flex-basis: 50%;
  display: flex;
  justify-content: center;
}

@media (max-width: 991.98px) {
  .video-container {
    width: 200px;
    height: 200px;
    flex-basis: 100%;
  }

  p {
    font-size: 14px; /* Tamanho do texto menor para dispositivos móveis */
  }
}

a {
  text-decoration: none;
  color: inherit;
}

p {
  color: white;
  font-family: 'Quicksand', sans-serif;
}

.image_style {
  width: 700px;
  pointer-events: none;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

