/* Imports */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap'); /* font-family: 'Quicksand', sans-serif; */
@import url('util.css');

body {
    background-color: var(--dark-color1) !important;
}

a {
    text-decoration: none;
    color: inherit;
}

.card_style {
    background: linear-gradient(120deg, #1c1c39, #3f3f9e) !important;
    color: white !important;
    font-family: 'Quicksand', sans-serif;
    font-size: larger !important;
    transition: 0.5s, transform 0.8s;
}

.card_style:hover {
    transform: scale(1.01);
}

.button_style {
    cursor: pointer;
    text-decoration: none !important;
    min-width: auto;
    max-width: 140px;
    height: 50px;
    font-size: 18px;
    background: linear-gradient(to left, #5180ff, #ff66c4);
    border: none;
    border-radius: 30px;
    transition: background 0.5s, transform 0.8s;
    /* Adiciona a transição para a propriedade de fundo */
}

.button_style:hover {
    transform: scale(1.1);
    background: linear-gradient(to right, #5180ff, #ff66c4);
    /* Altera o gradiente no hover */
    background-size: 400% 400%;
    /* Aumenta o tamanho do degradê */
    animation: gradientEffect 3s ease infinite;
    /* Adiciona a animação ao degradê */
}

.link_style {
    text-decoration: none;
    color: white;
}

/* Animação de degradê do botão*/
@keyframes gradientEffect {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.subtitle_style {
    font-weight: bolder;
    color: var(--purple-color3) !important;
}

.title_style {
    font-size: 25px;
    font-weight: bolder;
}

.star_style {
    max-width: 120px;
    background-color: var(--dark-color1);
    border-radius: 30px;
}