/* Imports */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap'); /* font-family: 'Quicksand', sans-serif; */
@import url(util.css);

body {
    background-color: var(--dark-color1) !important;
    color: white !important;
}

a {
    text-decoration: none;
    color: inherit;
}

.container_style {
    font-family: 'Quicksand', sans-serif;
    margin-top: 10%;
    margin-bottom: 10%;
    padding-top: 80px;
    background: linear-gradient(120deg, #1c1c39, #2e2e75) !important;
    border-radius: 20px;
}

/*Edição do titulo*/
.title_style {
    cursor: default;
    min-width: auto;
    max-width: 300px;
    height: 80px;
    font-size: 18px;
    background: linear-gradient(to left, #5180ff, #ff66c4);
    border: none;
    border-radius: 5px;
    transition: background 0.5s, transform 0.8s;
    /* Adiciona a transição para a propriedade de fundo */
    animation: gradientEffect 3s linear infinite;
    /* Adiciona a animação ao degradê */
    background-size: 400% 100%;
    /* Aumenta o tamanho do degradê */
}

@keyframes gradientEffect {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}

/*Overlay da Imagem*/
.overlay-image {
    position: absolute;
    top: 225px;
    right: 0px;
    width: 625px; /* ajuste o tamanho conforme necessário */
    height: 600px; /* ajuste o tamanho conforme necessário */
    align-items: end;
}

.partner-button {
    position: absolute;
    color: white;
    background: linear-gradient(to left, #5180ff, #ff66c4);
    transition: background 0.5s, transform 0.8s;
    padding: 8px 15px;
    border: none;
    border-radius: 30px;
    float: right;
    top: 820px;
    right: 200px;

}

.partner-button:hover {
    transform: scale(1.1);
    background: linear-gradient(to right, #5180ff, #ff66c4);
    background-size: 400% 400%;
    animation: gradientEffect 3s ease infinite;
}
.partner-button a {
    text-decoration: none;
    color: inherit;
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
    font-size: 20px;
        
    
}

/* Animação de degradê do botão*/
@keyframes gradientEffect {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

/* Estilos para a versão mobile */
@media (max-width: 1653px) {
    .overlay-image {
        display: none; /* Esconde a imagem na versão mobile */
    }

    .partner-button {
        position: relative;
        top: 0;
        right: 0;
        margin-top: 20px; /* Define uma margem para separar o botão dos textos */
        float: none;
        align-items: center;
    }
        
    .partner-button a {
        margin-left: 0px;
    }
    
    .partner-button p {
        margin-left: 0;
    }
}

.subtitle_style {
    font-weight: bolder;
}