/* Imports */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap'); /* font-family: 'Quicksand', sans-serif; */

/* CASO NECESSÁRIO UTILIZE PARA ADICIONAR O CSS DE ALGO QUE ESTEJA EM MAIS DE UMA PÁGINA PARA NÃO PRECISAR FICAR REPETINDO O CÓDIGO*/ 
:root {
    --dark-color1: #1c1c39;
    --dark-color2: #000;
    --purple-color1: #9b59b6;
    --purple-color2: #660fc8;
    --purple-color3: #a393ff;
    --purple-color4: #6351ce;
    --pink-color1: #ff66c4;

}

/* Edições da navbar */
.navbar {
  background-color: var(--dark-color1); /* Cor de fundo da navbar */
}

.navbar a.nav-link {
  color: white; /* Cor do texto padrão */
  transition: color 0.3s, border-bottom 0.3s; /* Transição suave de cor e linha */
  border-bottom: 2px solid transparent; /* Linha inferior transparente inicial */
}

.navbar a.nav-link:hover {
  color: var(--purple-color1); /* Cor do texto ao passar o mouse */
  border-bottom: 2px solid var(--purple-color1); /* Linha inferior ao passar o mouse */
}

#nav-logo {
    width: 75px;
}

#partner-btn {
  font-family: 'Quicksand', sans-serif;
  font-weight: 700;
  margin-right: 5em;
  width: 150px;
  font-size: 18px;
  background: linear-gradient(to left, #5180ff, #ff66c4);
  border: none;
  transition: background 0.5s, transform 0.5s; /* Adiciona a transição para a propriedade de fundo */
}

a {
  text-decoration: none; /* Remove o sublinhado */
  color: inherit; /* Herda a cor do texto do elemento pai */
}
#partner-btn:hover {
  transform: scale(1.1);
  background: linear-gradient(to right, #5180ff, #ff66c4); /* Altera o gradiente no hover */
  background-size: 400% 400%; /* Aumenta o tamanho do degradê */
  animation: gradientEffect 3s ease infinite; /* Adiciona a animação ao degradê */
}
/* Animação de degradê do botão*/
@keyframes gradientEffect {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@media (max-width: 991.98px) {
  #partner-btn:hover {
      transform: scale(1); /* Mantém o tamanho padrão */
      background: linear-gradient(to left, #5180ff, #ff66c4); /* Mantém o gradiente original */
      background-size: 100% 100%; /* Redefine o tamanho do gradiente */
      animation: none; /* Remove a animação para telas menores */
  }
}
/* Fim da Navbar */

/* Scrollbar Personalizada*/
::-webkit-scrollbar {
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  background: white; 
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--purple-color1); 
}
